/*-------------- all fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*-------------- common css ---------------*/
*{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.heading1{
    font-size: 48px;
    font-weight: 600;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0 auto;
}
/*-------------- navbar part start ---------------*/
nav{
    padding: 16px 0px !important;
    background: #1C1E53;
}
nav .navbar-nav{
    gap: 32px;
}
nav .nav-link{
    padding: 0px !important; 
    color: #BBBBCB !important;
    border-bottom: 3px solid #1C1E53;
    transition: .5s;

}
nav .nav-link:hover{
    color: #FFFFFF !important;
    border-bottom: 3px solid white;
}
nav .navbutton{
    margin-left: 48px;
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    transition: .5s;
}
nav .navbutton:hover{
    background: #ffffff;
    color: #1C1E53;
}
/*-------------- navbar part end ---------------*/
/*-------------- banner part start ---------------*/
.banner{
    background: #1C1E53;
}
.banner .row{
    padding: 128px 0px;
}
.banner .col-lg-6 h1{
    font-weight: 600;
    font-size: 54px;
    color: #FFFFFF;
    line-height: 74px;
}
.banner .col-lg-6 p{
    margin: 24px 0px 48px 0px;
    color: #FFFFFF;
    line-height: 28px;
    opacity: 70%;
}
.banner .col-lg-6 .bannerview-btn{
    padding: 16px 56px;
    background: #FCD980;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1C1E53;
    border: 1px solid #1C1E53;
    border-radius: 41px;
    transition: .3s;
}
.banner .col-lg-6 .bannerview-btn:hover{
    background: transparent;
    color: #FCD980;
    border: 1px solid #FCD980;
}
.banner .col-lg-6 .bannerprice-btn{
    margin-left: 40px;
    color: #FFFFFF;
}
.banner .col-lg-6 .bannerprice-btn:hover{
    border-bottom: 1px solid #FCD980;
    color: #FCD980;
}
/*-------------- banner part end ---------------*/
/*-------------- work part start ---------------*/
.workpart{
    background: #F4F6FC;
}
.workpart .container{
    padding: 128px 0px;
}
.workpart .container .col-lg-5 p{
    margin: 16px 0px;
    width: 405px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
}
.workpart .container .col-lg-5 .work-touch{
    width: 245px;
    position: relative;
}
.workpart .container .col-lg-5 a{
    font-weight: 500;
    font-size: 18px;
    color: #2405F2;
    line-height: 32px;
}
.workpart .container .col-lg-5 .work-touch i{
    left: 185px;
    position: absolute;
    transform: translate(0%,50%);
    transition: .5s;
}
.workpart .container .col-lg-5 .work-touch:hover i{
    left: 220px;
}
.workpart .col-lg-7 .row{
    row-gap: 48px;
}
.workpart .col-lg-6 h3{
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 32px;
    color: #282938;
    line-height: 48px;
}
.workpart .col-lg-6 p{
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
}
/*-------------- work part end ---------------*/
/*-------------- navbar part start ---------------*/
/*-------------- navbar part end ---------------*/